<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to BillShare</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="fullscreen">
           <div class="biggerpicture">
            <a href="/about"><img src="/static/BillShare-logos.jpeg" alt="LOGO" width = "270" height = "270" style="border-radius: 25px"></a>           
            <div class="smallerPicture" style="border-radius: 25px">
              <h1>Welcome to BillShare</h1>
              <a href = "/"><p>Go to LOGIN page</p></a>
            </div>
            </div>
        </div>
    </body>
</html>
