<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to To-Do</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="fullscreen">
           <div class="biggerpicture">
            <a href="about.html"><img src="/static/BillShare-logos.jpeg" alt="LOGO" width = "270" height = "270" style="border-radius: 25px;"></a>
            <div class="smallerPicture" style="border-radius: 25px">
              <h1>Welcome</h1>
              <h3>Wrong Email Format Try Again</h3>
              <p>LOGIN</p>
              <form class="login" action="/" method = "post">
                 <label><input name = "email" placeholder= "Email"></label>
                 <p></p>
                 <label><input type = 'password' name = 'user_password' placeholder = "Password"></label>
                 <p></p>
                 <input type = 'submit' value = 'Submit!'>
                 <p></p>
                 <p>Don't have an account. <a href="/register">Register</a></p>
               </form>
            </div>
            </div>
        </div>
    </body>
</html>
